In [5]:
!wget "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz" -O "green_tripdata_2019-09.csv.gz"

--2024-01-19 12:02:10--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
Resolving github.com (github.com)... 20.248.137.48
Connecting to github.com (github.com)|20.248.137.48|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240119%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240119T120210Z&X-Amz-Expires=300&X-Amz-Signature=d33b21e9a273d45d81c5f0a1d7270fae82f911a82495d415a342925a8221a6d5&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-01-19 12:02:10--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240119%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240119T120210Z&X-Amz-Expires=300&X-Amz-Signature=d33b21e9a273d45d81c5f0a1d7270fae82f911a82495d415a342925a8221a6d5&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7854533 (7.5M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-09.csv.gz’

green_tripdata_2019 100%[===================>]   7.49M  16.8MB/s    in 0.4s

2024-01-19 12:02:11 (16.8 MB/s) - ‘green_tripdata_2019-09.csv.gz’ saved [7854533/7854533]

In [6]:
!wget "https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv" -O "green_zones.csv"

--2024-01-19 12:02:15--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.48.214, 16.182.100.192, 52.216.29.30, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.48.214|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘green_zones.csv’

green_zones.csv     100%[===================>]  12.03K  --.-KB/s    in 0s

2024-01-19 12:02:16 (76.0 MB/s) - ‘green_zones.csv’ saved [12322/12322]

In [9]:
import pandas as pd
trips_file = 'green_tripdata_2019-09.csv.gz'
df = pd.read_csv(trips_file, compression='gzip')
df.head(10)

/tmp/ipykernel_44977/3629068017.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(trips_file, compression='gzip')

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.00,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.00,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.00,NaN,0.3,18.36,1.0,1.0,0.0
5,2.0,2019-09-01 00:55:37,2019-09-01 01:17:02,N,1.0,7,41,1.0,6.26,21.0,0.5,0.5,0.00,6.12,NaN,0.3,28.42,2.0,1.0,0.0
6,2.0,2019-09-01 00:28:55,2019-09-01 00:52:09,N,1.0,33,37,1.0,4.34,18.0,0.5,0.5,3.86,0.00,NaN,0.3,23.16,1.0,1.0,0.0
7,1.0,2019-09-01 00:03:13,2019-09-01 00:03:32,N,1.0,55,55,1.0,1.20,2.5,0.5,0.5,0.00,0.00,NaN,0.3,3.80,3.0,1.0,0.0
8,1.0,2019-09-01 00:15:28,2019-09-01 00:43:22,N,1.0,55,89,1.0,0.00,22.2,0.0,0.5,0.00,0.00,NaN,0.3,23.00,1.0,1.0,0.0
9,2.0,2019-09-01 00:29:16,2019-09-01 00:30:15,N,1.0,17,17,1.0,0.14,2.5,0.5,0.5,0.00,0.00,NaN,0.3,3.80,2.0,1.0,0.0

In [10]:
print(pd.io.sql.get_schema(df,name='green_tripdata_2019-09.csv.gz'))

CREATE TABLE "green_tripdata_2019-09.csv.gz" (
"VendorID" REAL,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

In [11]:
# load green zone data
import pandas as pd
from time import time
from sqlalchemy import create_engine

# PostgreSQL connection string
connection_string = 'postgresql://root:root@localhost:5432/ny_taxi'
engine = create_engine(connection_string)

trips_file = 'green_tripdata_2019-09.csv.gz'
table_name = 'green_taxi_trips'

df = pd.read_csv(trips_file, compression='gzip')
df.head(n=0).to_sql(name=table_name, con=engine, if_exists='replace')

df_iter = pd.read_csv(trips_file,compression='gzip', iterator=True, chunksize=100000)

for chunk_df in df_iter:
    t_start = time()
    chunk_df.lpep_pickup_datetime = pd.to_datetime(chunk_df.lpep_pickup_datetime)
    chunk_df.lpep_dropoff_datetime = pd.to_datetime(chunk_df.lpep_dropoff_datetime)
    chunk_df.to_sql(name=table_name, con=engine, if_exists='append')
    t_end = time()
    print('inserted another chunk..., took %.3f second' % (t_end - t_start))

/tmp/ipykernel_44977/1935602695.py:13: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(trips_file, compression='gzip')

inserted another chunk..., took 9.993 second
inserted another chunk..., took 9.562 second
inserted another chunk..., took 9.997 second

/tmp/ipykernel_44977/1935602695.py:18: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk_df in df_iter:

inserted another chunk..., took 9.916 second
inserted another chunk..., took 4.130 second

In [12]:
# load green zone data
import pandas as pd
from sqlalchemy import create_engine
lookup_df = pd.read_csv('green_zones.csv')
# PostgreSQL connection string
connection_string = 'postgresql://root:root@localhost:5432/ny_taxi'
engine = create_engine(connection_string)
lookup_df.to_sql(name='green_zones', con=engine, if_exists='replace')

265